{% extends "main.html" %}

{% block content %}

    {% comment %} Hero Section {% endcomment %}
    {% include "core/components/hero.html" %}
    {% comment %} Featured Products Section {% endcomment %}
    {% include  'core/components/featured_products.html' %}
    {% comment %} Testimonials Section {% endcomment %}
    {% include "core/components/testimonials.html" %}
    {% comment %} About Section {% endcomment %}
    {% include "core/components/about_section.html" %}
    {% comment %} Contact Section {% endcomment %}
    {% include "core/components/contact_us.html" %}
    

{% endblock content %}
